*{
    margin:0;
    padding:0
}
.main{
    padding: 60px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}
h4{
    font-size: 12pt;
}
.head{
    background-color:"#000";
    color:"#fff"
}